* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #eff3f7;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
}

.calc-container {
  margin: 0 auto;
  max-width: 800px;
}

.input {
  display: flex;
  justify-content: space-around;
}

.btn-container {
  margin-top: 112px;
  display: flex;
  justify-content: center;
}

.btn-container button {
  margin: 8px;
}

.output {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
